@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Urbanist", sans-serif;
}
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #3b82f6;      
  --color-secondary: #6366f1;   
  --color-accent: #f59e0b;      
  
  --color-background: #ffffff;   
  --color-surface: #f8fafc;      
  --color-border: #e2e8f0;       
  --color-muted: #64748b;        
  --color-text: #0f172a;        
  
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-error: #ef4444;
}

